
# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_TOKEN=



# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Email Configuration
RESEND_API_KEY=
EMAIL_FROM=
ADMIN_EMAIL=

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

#Enviornment

NODE_ENV=development
